
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @* <a class="btn btn-sm btn-primary" asp-controller="Users" asp-action="Index">Добавить пользователя</a>*@
    <a asp-controller="Book" asp-action="Index">Перейти к спику книг</a>
</div>
