@model IEnumerable<BusinessLayer.Models.UserDTO.UserViewModel>

<h2>Список пользователей</h2>
<table class="table">

    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="EditRole" asp-route-userid="@user.Id">Права доступа</a>
            </td>
        </tr>
    }

</table>
<a asp-controller="Users" asp-action="Index">Редактировать пользователей</a>