

<div class="form-group" style="text-align:center;vertical-align:central">
    <br />
    <h4 style="stress:10">
        Внимание, файлы сохраняются на вашем рабочем столе
    </h4><br />
         <div class="form-group">
             <form method="post" asp-controller="Report" asp-action="Index" >

                 <input type="datetime-local" min="02-03-2020" id="time" name="from" /><input min="from" type="datetime-local" name="to" />
                 <p class="text-danger">
                     @ViewBag.DateError
                     </p>
                     <br />
                <div style="text-align:left;margin-left:30%">
                     <input name="entity" type="radio" value="books" />
                     <span>Сформировать отчет по книгам</span>
                     <br /><br />
                     <input name="entity" type="radio" value="orders" />
                     <span>Сформировать отчет по заказам</span>
                     <br /><br />
                     <input name="entity" type="radio" value="users" />
                     <span>Сформировать отчет по пользователям</span>
                     <br /><br />
                    </div><br />
                     <input type="submit" value="Сохранить" />
             </form>
         </div>
</div>