@model BusinessLayer.Models.BookDTO.BookViewModel
@{
    ViewBag.Title = "Добавление книги";
}
<form asp-action="CreateBook" asp-controller="Book" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="BookName" class="control-label">Название книги</label>
        <input type="text" asp-for="BookName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="BookAuthor" class="control-label">Автор</label>
        <input type="text" asp-for="BookAuthor" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="BookPublisher" class="control-label">Издатель</label>
        <input type="text" asp-for="BookPublisher" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="BookGenre" class="control-label">Жанр</label>
        <input type="text" asp-for="BookGenre" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="BookYear" class="control-label">Год выпуска</label>
        <input type="number" max="2071" min="1900" asp-for="BookYear" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="BookDescription" class="control-label">Описание</label>
        <textarea type="text" asp-for="BookDescription" class="form-control" style="height:auto"> </textarea>
    </div>

    <div class="form-group">
        <label asp-for="BookInStock" class="control-label">Количество</label>
        <input type="number" asp-for="BookInStock" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ISBN" class="control-label">Количество</label>
        <input type="number" asp-for="ISBN" class="form-control" />
    </div>

    <div class="form-group">
        <label class="control-label">Обложка</label>
        <input type="file" name="uploadedFile" /><br>

    </div>


    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </div>

</form>