@{
    ViewBag.Title = ("Парсер");
}
<div class="form-group" style="text-align:center;">
    <h2 style="text-align:left">Парсер</h2>
    <hr/>
    <div class="form-check">
        <input class="btn-outline-success" type="submit" asp-action="StartParser" asp-controller="Book" value="Запустить парсер сейчас"/>   <br />
    </div>
    <h4 style="text-align:left">Настройки парсера</h4>
    <hr />
  
    <form asp-action="ParserSettings" asp-controller="Book">
        <div class="form-group">
            <label>Количество книг</label>
            <input max="1000" min="2" type="number" name="amount" />

        </div><br />

        <input type="submit" value="Сохранить" />
      

    </form>
</div>